/* Global styles */




/* carousel.css */

.carousel-container {
  margin-top: 20px;
}

.mantine-carousel__control {
  color: white;
}

.mantine-carousel__controls-offset {
  background-color: white;
}

.mantine {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.custom-card {
  background-color: transparent;
  padding: 0;
  overflow: hidden;
}

.custom-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.hover-card {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hover-card:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.8);
}

.transparent-background:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.card-image {
  max-width: 100%;
  height: 60%;
  border-radius: 4px;
}

.head{
  color: white;
  padding-left: 20px;
  padding-bottom: 5px;
  margin: 0px;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #151515;
  color: white;
  margin: 0;
  padding: 0;
}
.carousel-section{
  background-color: whitesmoke;
  position: relative;
  top:-20px;
}

/* Show container styles */
.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  background-color: #151515;
}

.show-content {
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  width: 100%;
}

.show-content > * {
  flex-basis: 100%; /* Adjust as needed */
  /* margin-right: 2%;  */
  text-align: center; 
}
.show-cast-list{
  display:'flex';
  justify-content: center;
}

.show-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 512px;
  min-height: 30vh;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.show-content {
  max-width: 512px;
  /* padding: 20px; */
  text-align: left;
  border-radius: 10px;
  margin-top: 30px;
  
}
/* .con{
  justify-content: space-around;
} */

.show-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white; /* Added text color */
}

.show-type,
.show-created-at,
.show-keywords {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
}

.show-description p {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin: 20px 0;
}

.show-details {
  margin-top: 20px;
}

.show-details-title {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 7px;
}

.show-details-value {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.show-cast-list {
  display: flex;
  flex-wrap: wrap;
}

.show-cast-item {
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin-right: 5px;
  margin-bottom: 5px;
}

.show-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
}

.show-button {
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  padding: 0 15px;
  background-color: #007bff; /* Updated button color */
}

.play-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.check-icon,
.plus-icon {
  width: 23px;
  height: 23px;
  font-weight: 700;
  margin-right: 5px;
}

.subscribe-button {
  position: relative;
  height: 50px;
  cursor: pointer;
  background: linear-gradient(
    117.54deg,
    rgba(72, 85, 99, 0.9) 5.56%,
    rgba(41, 50, 60, 0.9) 125.55%
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
}

.subscribe-button-content {
  display: flex;
  align-items: center;
}

.crown-icon {
  width: 20px;
  height: 10px;
  margin-right: 5px;
}

.subscribe-description {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
  max-width: 100%; /* Ensure the text stays within its container */
}

.modal-container {
  position: absolute;
  top: 100px;
}

/* .carousel-container {
  width:100%;
} */
/* @media screen and (max-width:767px){
  .show-container{
    width:48vw;  
    display: flex;  
    justify-content: center;
    text-align: center;
  }
  .show-cast{
    text-align: center;
  }
  .show-background-image{
    width:48vw;
  }
} */